{
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": false
}